@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  width: min(100%, 1440px);
  margin-inline: auto;
}

body {
  font-family: theme('fontFamily.sans');
  font-size: theme('fontSize.base[0]');
  line-height: theme('fontSize.base[1].lineHeight');

  @media (min-width: theme('screens.md')) {
    font-size: theme('fontSize.xl[0]');
    line-height: theme('fontSize.xl[1].lineHeight');
  }
}

p {
  color: theme('colors.text');
}

@layer base {
  :root {
    --color-text: 218 21% 18%;
    --color-surface: 0 0% 100%;
  }
}

@layer utilities {
  .dark {
    --color-text: 0 0% 100%;
    --color-surface: 0 0% 7%;
  }

  .wrapper {
    --_gutter: var(--gutter, 24px);
    --size: 1110px;
    width: min(100% - var(--_gutter), var(--size));
    margin-inline: auto;

    @media (min-width: theme('screens.md')) {
      --gutter: 40px;
    }

    @media (min-width: theme('screens.lg')) {
      --gutter: 0px;
    }
  }
}

@layer components {
  .btn {
    height: 4rem;
    padding-inline: 1.5rem;
    display: grid;
    place-content: center;
    justify-content: center;
    @apply transition-colors typo typo--s text-primary-2 border border-primary-2 hover:bg-primary-2 hover:text-white dark:text-white dark:border-white dark:hover:bg-white dark:hover:text-secondary-1;
  }

  .typo {
    --_fsize: var(--fsize, inherit);
    --_fweight: var(--fweight, theme('fontWeight.bold'));

    color: theme('colors.text');
    font-weight: var(--_fweight);
    font-size: var(--_fsize);
    line-height: 1.1;
  }

  .typo--xl {
    --fsize: 2rem;
    --fweight: theme('fontWeight.light');

    @media (min-width: theme('screens.md')) {
      --fsize: 3rem;
    }

    @media (min-width: theme('screens.lg')) {
      --fsize: 5rem;
    }
  }

  .typo--l {
    --fsize: 2rem;

    @media (min-width: theme('screens.md')) {
      --fsize: 3rem;
    }
  }

  .typo--m {
    --fsize: 1.25rem;
  }

  .typo--s {
    --fsize: 1.0625rem;
    --fweight: theme('fontWeight.semibold');

    text-transform: uppercase;
    letter-spacing: theme('letterSpacing.widest');
  }

  .typo--body-1 {
    --fsize: theme('fontSize.xl[0]');

    line-height: theme('fontSize.xl[1].lineHeight');
  }

  .typo--body-2 {
    --fsize: theme('fontSize.base[0]');

    line-height: theme('fontSize.base[1].lineHeight');
  }
}